# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# DVC
.dvc/cache
/data/ # We will track data files with .dvc files instead
/ml_pipeline/models/ # If models are large and tracked by DVC

# MLflow
mlruns/
mlartifacts/

# IDE specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db